@import 'variables';

.footer {
  background: url('/images/home/footer.svg') bottom no-repeat;
  background-size: cover;
  background-color: #0c314a;
  padding: 10px 0 220px 0;
  justify-content: center;
  margin-top: 5rem;
}
.effect:hover{
   background-color:#e7b104;
  border-radius:30px;
  color:black !important;
}
.heading{
  color: white;
  margin-top: 8px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.desc{
  color: white;
  padding-top: 5px;
  text-align: center;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.blocks{
  height: 45px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
.links{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 3px 15px 3px 4px;
   a {
     color: white;
     text-decoration: none;
     padding: 0px 0px 0px 15px;
    }
    a:hover{
      color:#ffaa1d;
    }
  }  


@media (max-width: 800px) {
  .footer {
    margin-top: 2rem;
  }
  .desc{
    padding:10px;
  }
  .socials {
    flex-direction: column;
  }
  .blocks{
    height: 60px;
    margin: 10px;
    width: 60%;
    border: 1px solid white;
    border-radius: 10px;
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: white;
      text-decoration: none;
      padding: 10px;
      font-size: 1.2rem;
     }
}
}
